/build/
/dist/
*.bak
*.class

# Package Files #
*.jar
*.war
*.ear
nbproject/UPDATED.TXT
nbproject/private/configs/WebStart_____.properties
nbproject/private/configs/_______.properties
nbproject/private/private.properties
nbproject/private/private.xml
/nbproject/private/